media/vscode-japanese-tei.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>vscode-japanese-tei <desc>縦書きサンプル</desc>
                </title>
                <title type="short">vscode-japanese-tei</title>
            </titleStmt>
            <publicationStmt>
                <publisher>Satoru Nakamura</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2022-04-11+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="vscode-japanese-tei" source="teipublisher.odd">
                <elementSpec ident="*" mode="add">
                    <model predicate="@id=main" behaviour="inline">
                        <outputRendition xml:space="preserve">
            overflow-y:auto;writing-mode:vertical-rl
                        </outputRendition>
                    </model>
<model predicate="@data-type=&#34;book&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            color:green
                        </outputRendition>
                    </model>
<model predicate="@data-type=&#34;page&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            background-color:gray
                        </outputRendition>
                    </model>
<model predicate="@data-type=&#34;割書&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            display:inline-table;vertical-align:top
                        </outputRendition>
                    </model>
<model predicate="@data-type=&#34;zodiac&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            color:royalblue
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-teiHeader" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            display:none
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-p" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            display:block
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-name" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            background-color:lightyellow
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-date" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            background-color:lightblue
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-persName" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            background-color:lightsalmon
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-placeName" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            background-color:lightgreen
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-lb:after" mode="add">
                    <model  behaviour="inline">
                        <outputRendition xml:space="preserve">
            content:'\a';white-space:pre
                        </outputRendition>
                    </model>
                </elementSpec>
<elementSpec ident="tei-seg" mode="add">
                    <model predicate="@data-type=&#34;warichu-right&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            font-size:50%;display:table-row
                        </outputRendition>
                    </model>
<model predicate="@data-type=&#34;warichu-left&#34;" behaviour="inline">
                        <outputRendition xml:space="preserve">
            font-size:50%;display:table-row
                        </outputRendition>
                    </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>